<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:replace="templates/site2SemFrameLogin :: site2SemFrameLogin">

<div layout:fragment="styles">
    <link rel="stylesheet" th:href="@{/css/plugins/jquery.datetimepicker.css}">
</div>

<div layout:fragment="content">

    <div class="panel panel-default centralizado">
        <div class="panel-heading">
            <h3>Portal do Contribuinte</h3>

            <br/>
            <br/>
            
            <form id="formLoginCidadao" name="formLoginCidadao" role="form" class="form-horizontal">

                <!--CPF-->
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="loginCpf" class="col-sm-6 control-label">Inscri&ccedil;&atilde;o Estadual</label>
                            <div class="col-sm-6">
                                <input id="loginIE" type="text" name="loginIE" class="form-control inputInscricao" placeholder="99.999.999-9">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">&nbsp;</div>
                </div>

                <!--SENHA-->
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="loginSenha" class="col-sm-6 control-label">Senha</label>
                            <div class="col-sm-6">
                                <input type="password" name="loginSenha" class="form-control" id="loginSenha" maxlength="10" placeholder="Senha">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">&nbsp;</div>
                </div>


                <div class="row " id="captchaLogin" style="clear:both;display: none" >
                    <center>
                        <label  class="control-label">C&oacute;digo Verificador:</label>
                        <br/>
                        <br/>
                        <div class="col-md-12 "  >
                            <input type="hidden" id="numeroDeTentativasLogin" name="numeroDeTentativasLogin" th:value="${session.numeroDeTentativasLogin}" />
                            <div id="containerCaptchaLogin"  ></div>
                        </div>
                    </center>
                </div>


                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>

                <!--BOTAO SUBMIT-->
                <div id="btnsTelaLogin">
                    <div class="row">
                        <div class="col-sm-4">&nbsp;</div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-8">
									<button type="button" id="loginSubmitEmpresa" class="btn btn-primary btn-block btn-submitform" title="Se voc&ecirc; j&aacute; efetuou o cadasto e j&aacute; possui senha, preencha os campos de login e clique para acessar.">Entrar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--BOTAO CERTIFICADO-->
                    <div class="row">
                        <div class="col-sm-4">&nbsp;</div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <!--<a class="btn btn-default btn-block"  style="background: darkkhaki; color: white;" th:href="@{/cidadao/certificado}" >Acesso com Certificado Digital</a>-->
                                    <a class="btn btn-default btn-block"   th:href="@{/cidadao/login}" title="Login do cidad&atilde;o." >Portal do cidad&atilde;o</a>
                                    <!--<br/>-->
                                    <!--<br/>-->
                                    <!--<hr/>-->
                                    <!--<a class="btn btn-default btn-block"  style="background: gray; color: white;" href="https://localhost:8443/to-legal/cidadao/certificado" >Acesso com Certificado Digital (Dev)</a>-->
                                    <!--<a class="btn btn-default btn-block"  style="background: gray; color: white;" href="https://sefazhomolog.intra.goias.gov.br/to-legal/cidadao/certificado" >Acesso com Certificado Digital (Hom)</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>


<div layout:fragment="scripts">
    <script th:src="@{/js/plugins/jquery.datetimepicker.js}"></script>
    <script th:src="@{/js/cidadao.js}" charset="utf-8"></script>
    <script th:src="@{/js/plugins/recaptcha_ajax.js}"></script>

    <!--<script type="application/javascript" src="http://jsonip.appspot.com/?callback=getip"></script>-->
    <!--<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>-->
    <script type="text/javascript" th:inline="javascript" charset="utf-8">
        new Cidadao({

        });
    </script>
</div>
</html>