<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:replace="templates/layout :: template">
<div layout:fragment="styles">
    <link rel="stylesheet" th:href="@{/css/plugins/jquery.datetimepicker.css}">
    <link rel="stylesheet" th:href="@{/css/totais-cadastrados.css}">
</div>


<div layout:fragment="content" class="totais-cadastrados-main-body">
    <h3>Totais Cadastrados</h3>

    <div class="table-responsive totais-cadastrados-resumo">
        <table class="table table-bordered table-striped">
            <thead>
            </thead>
            <tbody>
            <tr>
                <th class="text-nowrap" scope="row">Total Geral</th>
                <td th:text="${dadosTotaisCadastrados.totalGeral}"></td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Pessoas marcadas para participação</th>
                <td th:text="${dadosTotaisCadastrados.totalParticipamSorteio}"></td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Pessoas desmarcadas para participação</th>
                <td th:text="${dadosTotaisCadastrados.totalNaoParticipamSorteio}"></td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Pessoas excluídas de sorteios</th>
                <td th:text="${dadosTotaisCadastrados.totalExcluidos}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <h4>Totais por dia</h4>

    <div class="totais-cadastrados-dia">
        <form id="formDatasTotaisCadastrados" role="form" class="form-inline">
            <div class="form-group">
                <label>Data Inicial<span class="red"></span></label>

                <div class="input-group">
                    <input type="text" class="form-control datepicker" name="dataInicio" placeholder="Ex: 01/01/1990">
                    <span class="input-group-addon glyphicon glyphicon-calendar datepickerIcon"></span>
                </div>
            </div>
            <div class="form-group">
                <label>Data Final<span class="red"></span></label>

                <div class="input-group">
                    <input type="text" class="form-control datepicker" name="dataFim" placeholder="Ex: 01/01/1990">
                    <span class="input-group-addon glyphicon glyphicon-calendar datepickerIcon"></span>
                </div>
            </div>
            <button id="botaoPesquisarTotaisPorDia" class="btn btn-primary">Pesquisar</button>
        </form>
        <div class="table-responsive lista-totais-dia">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        Data
                    </th>
                    <th>
                        Nº. de Cadastrados
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="row-tabela-vazia">
                    <td colspan="2">Nenhum resultado</td>
                </tr>
                <tr class="modelo-row-total-dia" style="display: none;">
                    <th class="text-nowrap totais-cadastrados-dia" scope="row"></th>
                    <td class="totais-cadastrados-valor"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div layout:fragment="scripts">
    <script th:src="@{/js/plugins/jquery.datetimepicker.js}"></script>
    <script th:src="@{/js/totaisCadastrados.js}" charset="utf-8"></script>
    <script th:src="@{/js/plugins/jquery.blockUI.js}"></script>
    <script type="text/javascript" th:inline="javascript" charset="utf-8">
        new TotaisCadastrados();
    </script>
</div>

</html>