<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:replace="templates/admin :: template">

<div layout:fragment="styles"></div>

<div layout:fragment="content">
    <div class="col-lg-6 col-lg-offset-3 well bs-component">
        <div class="form-group">
            <label class="col-lg-2 control-label">Selecione :</label>
            <div class="col-lg-10">
                <select class="form-control" name="selectRegraPontuacao" id="selectRegraPontuacao">
                    <option >Selecione</option>
                    <option th:each="s : ${regras}" th:value="${s.id}" th:text="${s.nome}"> </option>
                </select>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="scripts">
    <script type="text/javascript" th:inline="javascript" charset="utf-8"></script>
</div>
</html>