<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:replace="templates/admin :: template">

<div layout:fragment="styles"></div>

<div layout:fragment="content" class="processamento page">
    <div class="page-header text-center">
        <h1 id="forms">PROCESSAMENTO LOTES</h1>
    </div>
    <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <button class="close refresh"><i data-type="PROCESSADO" class="mdi-navigation-refresh"></i></button>
                            <h3 class="panel-title">Lotes Processados</h3>
                        </div>
                        <div class="panel-body">
                            <h2 class="text-center" id="statusProcessado"></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <button class="close refresh"><i data-type="NAO_PROCESSADO" class="mdi-navigation-refresh"></i></button>
                            <h3 class="panel-title">Lotes n&#225;o processados</h3>
                        </div>
                        <div class="panel-body">
                            <h2 class="text-center hasDetails" rel="tooltip" data-placement="top" title="" data-original-title="Clique para detalhes" id="statusNaoProcessado"></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <button class="close refresh"><i data-type="NAO_VALIDADO" class="mdi-navigation-refresh"></i></button>
                            <h3 class="panel-title">Lotes n&#225;o validados</h3>
                        </div>
                        <div class="panel-body">
                            <h2 class="text-center hasDetails" rel="tooltip" data-placement="top" title="" data-original-title="Clique para detalhes"  id="statusNaoValidado"></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <button class="close refresh"><i data-type="EM_PROCESSAMENTO" class="mdi-navigation-refresh"></i></button>
                            <h3 class="panel-title">Em Processamento</h3>
                        </div>
                        <div class="panel-body">
                            <h2 class="text-center" id="statusEmProcess"></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <button class="close refresh"><i data-type="AGUARDANDO_VALIDACAO" class="mdi-navigation-refresh"></i></button>
                            <h3 class="panel-title">Lotes aguardando validação</h3>
                        </div>
                        <div class="panel-body">
                            <h2 class="text-center" id="statusAguardandoValidacao"></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <button class="close refresh"><i data-type="AGUARDANDO_PROCESSAMENTO" class="mdi-navigation-refresh"></i></button>
                            <h3 class="panel-title">Aguardando Processamento</h3>
                        </div>
                        <div class="panel-body">
                            <h2 class="text-center" id="statusAguardandoProcess"></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <button class="close refresh"><i data-type="NFE" class="mdi-navigation-refresh"></i></button>
                            <h3 class="panel-title">NFE</h3>
                        </div>
                        <div class="panel-body">
                            <h2 class="text-center" id="tipoNfe"></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <button class="close refresh"><i data-type="EFD" class="mdi-navigation-refresh"></i></button>
                            <h3 class="panel-title">EFD</h3>
                        </div>
                        <div class="panel-body">
                            <h2 class="text-center" id="tipoEfd"></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <button class="close refresh"><i data-type="MFD" class="mdi-navigation-refresh"></i></button>
                            <h3 class="panel-title">MFD</h3>
                        </div>
                        <div class="panel-body">
                            <h2 class="text-center" id="tipoMfd"></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <button class="close refresh"><i data-type="DIGITADA" class="mdi-navigation-refresh"></i></button>
                            <h3 class="panel-title">DIGITADA</h3>
                        </div>
                        <div class="panel-body">
                            <h2 class="text-center" id="tipoDigitada"></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button id="updateAll" class="btn btn-flat btn-primary">ATUALIZAR TODOS<i class="mdi-navigation-refresh fix-icon-btn"></i></button>
                </div>
            </div>
        </div>
    <div th:include="admin/modals/detalheProcessamento :: detalheProcessamento"></div>
</div>

<div layout:fragment="scripts">
    <script th:src="@{/js/processamento.js}" charset="utf-8"></script>
    <script type="text/javascript" th:inline="javascript" charset="utf-8">
        new Processamento();
    </script>
</div>
</html>