<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        >

<body>
<form id="formPerfilCidadao" name="formPerfilCidadao" class="form-horizontal" >
    <div class="showDadosDaBase">

        <div class="row">&nbsp;</div>

        <input type="hidden" id="cpfPerfil" th:value="${cidadao.genPessoaFisica.cpf}"/>

        <div class="row">
            <div class="form-group" >

                <label class="col-sm-4 text-right control-label">Senha atual:</label>
                <div class="col-sm-6">
                    <input type="password" id="senhaPerfilAntiga" name="senhaPerfilAntiga" class="form-control" title="Senha atual">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group" >

                <label class="col-sm-4 text-right control-label">Senha:</label>
                <div class="col-sm-6">
                    <input type="password" id="senhaPerfilNova" name="senhaPerfilNova" maxlength="10" class="form-control" title="Insira uma senha">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group" >
                <label class="col-sm-4 text-right control-label">Confirme a senha:</label>
                <div class="col-sm-6">
                    <input type="password" id="senhaPerfilConfirm" name="senhaPerfilConfirm" maxlength="10" class="form-control" title="Confirme sua senha">
                </div>
            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row" >
            <div class="col-sm-4">&nbsp;</div>
            <div class="col-sm-4">
                <button id="atualizarSenhaPerfil" class="btn btn-primary  form-control form-inline btn-submitform" type="button"   >Alterar senha</button>
            </div>

            <div class="col-sm-4">&nbsp;</div>
        </div>

        <div class="row">&nbsp;</div>
    </div>
</form>
</body>


<div layout:fragment="scripts">
    <script th:src="@{/js/plugins/jquery.datetimepicker.js}"></script>
    <script th:src="@{/js/cidadao.js}" charset="utf-8"></script>
    <!--<script type="application/javascript" src="http://jsonip.appspot.com/?callback=getip"></script>-->
    <!--<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>-->
    <script type="text/javascript" th:inline="javascript" charset="utf-8">
        new Cidadao({
        });
    </script>
</div>
</html>