<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        >

<body>

<form id="formBilhetes">
    <input type="hidden" id="idSorteioSelecionado">
</form>

<div class="centralizado">

    <div class="row" align="left" style="font-size: large;">
        <div class="col-sm-6">
            <label style="font-size: larger;">Sorteio:</label>
            <p style="display: inline-block" id="infoSorteio" th:text="${sorteio.informacao}" />
        </div>
    </div>

    <hr/>

    <div class="panel panelBilhetes">
        <div class="panel-header" style="font-size: large; background: #d6e9c6; color: darkgreen;
        border-top-right-radius: 5px; border-top-left-radius: 5px; ">
            <br/>
                <label>
                    Meus Bilhetes:
                </label>
            <br/>
            <br/>
        </div>
        <div class="panel-body dadosBilhetes centralizado"  style=" background:whitesmoke; padding-bottom: 0">
            <div  id="containerBilhetes" class="table-responsive"></div>
        </div>
    </div>

    <hr/>

    <div class="row" align="left">
        <div class="col-sm-6" style="font-size: medium;">
            <label >Total de Bilhetes:</label>
            <p style="display: inline-block" id="totalDeBilhetes" th:text="${total}" />
        </div>
    </div>

    <hr/>


    <div class="row" >
        <button class="btn btn-primary" id="linkBilhetesParaPontuacao" href="#">Pontua&ccedil;&atilde;o Neste Sorteio</button>
        &nbsp;
        &nbsp;
        <button class="btn btn-default" id="linkSair" href="#">Sair</button>
    </div>

</div>

</body>

<div layout:fragment="scripts">
    <script th:src="@{/js/plugins/jquery.datetimepicker.js}"></script>
    <script th:src="@{/js/cidadao.js}" charset="utf-8"></script>
    <script type="application/javascript" src="http://jsonip.appspot.com/?callback=getip"></script>
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <script type="text/javascript" th:inline="javascript" charset="utf-8">
        new Cidadao({
            nomeTela: [[${'bilhetes'}]]
        });
    </script>
    <script>
        function closepopup() {
            window.close();
        }

    </script>
</div>
</html>