<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:replace="templates/site2SemFrameLogin :: site2SemFrameLogin">
    <!--layout:replace="templates/layout :: template">-->


<div layout:fragment="styles">
    <link rel="stylesheet" th:href="@{/css/plugins/jquery.datetimepicker.css}">
</div>

<div layout:fragment="content" >
    <div class="container-fluid">
        <div class="row">
            <div class="text-left col-lg-12">
                <a th:href="${urlRetorno}">Voltar para a tela anterior</a>
                <br/><br/>
                <label class="control-label" th:text="'Inscri&ccedil;&atilde;o Estadual:  '+${inscricaoEstadual}"></label>
            </div>
        </div>

        <div class="row">&nbsp;</div>

        <form id="frmImportaECF" name="frmImportaECF" class="form-horizontal" enctype="multipart/form-data">
            <div class="panel panel-default " title="This is my tooltip" >
                <div class="panel-heading">
                    <label style="font-size: medium;">Importar documento ECF</label>
                </div>

                <div class="panel-body ">
                    <div class="col-lg-12">
                        <div class="row eventoExibirBotoes">

                            <div class="row">
                                <label class="col-md-3" th:text="'Documento ECF (compactado em formato .zip):'"></label>
                            </div>
                            <div class="row">
                                <label class="col-md-3" th:text="'Tipo:  '+${retificadora}"></label>
                                <div class="col-md-6">
                                    <input name="file" type="file" id="fileECF"  >
                                </div>
                            </div>
                            <br/>
                            <div id="divBtnImportarECF" >
                                <div class="row centralizado">
                                    <div class="col-md-12">
                                        <button id="btnImportarECF" class="btn btn-primary btn-submitform" type="button">Importar</button>

                                        <button id="btnVoltarECF" class="btn btn-default" type="button">Voltar</button>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="containerMensagensErro" style="display: none" class="panel panel-default ">
                <table  class="table table-bordered">
                    <tr><td  style="padding: 10;background-color:#efefef ; color:#B71B28"><b>Arquivo n&#225;o pode ser transmitido - Erros na validação do arquivo </b></td></tr>
                </table>
            </div>
            <br/><br/>
            <div id="containerMensagensAlerta" style="display: none" class="panel panel-default ">
                <table  class="table table-bordered">
                    <tr><td  style="padding: 10;background-color:#efefef ; color:#B71B28"><b>Alertas encontrados no arquivo (n&#225;o impedem a transmissão)  </b></td></tr>
                </table>
            </div>

            <div id="confirmarImportacao" class="panel panel-default " style="display: none">
                <table  class="table table-bordered">
                    <tr><td  style="padding: 10;background-color:#efefef ; color:#B71B28"><b>Antes de confirmar, certifique-se de ter lido todos os alertas acima</b></td></tr>
                </table>
                <div class="centralizado"  >
                    <br>
                    <button id="btnConfirmaImportacao" class="btn btn-primary" type="button">Confirmar Importação</button>
                    <br>
                    <br>
                </div>
           </div>


        </form>

    </div>




</div>

<div layout:fragment="scripts">
    <script th:src="@{/js/plugins/jquery.datetimepicker.js}" charset="utf-8"></script>
    <script th:src="@{/js/plugins/jquery.maskMoney.min.js}" charset="utf-8"></script>
    <script th:src="@{/js/plugins/numericInput.min.js}" charset="utf-8"></script>
    <script th:src="@{/js/generic-modal.js}" charset="utf-8"></script>
    <script th:src="@{/js/dialogs.js}" charset="utf-8"></script>
    <script th:src="@{/js/plugins/jquery.blockUI.js}"></script>
    <script th:src="@{/js/plugins/bootstrap-filestyle.js}"></script>
    <script th:src="@{/js/ecf.js}" charset="utf-8"></script>
    <script type="text/javascript" th:inline="javascript" charset="utf-8">
        new Ecf({
            urlBase: [[${urlBase}]],
            inscricaoEstadual: [[${inscricaoEstadual}]],
            retificadora: [[${retificadora}]]
        });
    </script>
</div>

</html>