<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie ie6" dir="ltr" lang="pt-BR"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie ie7" dir="ltr" lang="pt-BR"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie ie8" dir="ltr" lang="pt-BR"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie ie9" dir="ltr" lang="pt-BR"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js no-ie" dir="ltr" lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:fragment="site">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Nota Fiscal Goiana</title>
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />

    <link rel="stylesheet" th:href="@{/css/nfg.css}"/>
    <link rel="stylesheet" th:href="@{/css/site/fonts.css}"/>
    <link rel="stylesheet" th:href="@{/css/site/reset.css}"/>
    <!--<link rel="stylesheet" th:href="@{/css/site/jquery-ui-1.10.4.custom.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/plugins/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/css/plugins/jquery-ui.structure.css}"/>
    <link rel="stylesheet" th:href="@{/css/plugins/jquery-ui.theme.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/boilerplate/main.css}" />
    <div layout:fragment="styles"></div>

    <script th:src="@{/js/boilerplate/vendor/jquery-1.10.2.min.js}"></script>
</head>
<body>
<div id="header-wrapper">

    <div class="logo-wrapper">
        <!--<a href="http:/localhost:8080/" >-->
            <h1 class="logo">
                <img th:src="@{/images/site/logo.png}" />
            </h1>
        <!--</a>-->
    </div>
    <nav id="nav" class="clearfix navbar navbar-default">
        <ul class="left clearfix navbar-collapse collapse">
            <li >
                <!--<a href="http:/localhost:8080/menuempresa/empresa">Empresa</a>-->
                <a th:if="${not #strings.isEmpty(session.contadorLogadoSession)}" th:href="@{/contador/contribuintes/cadastro}" tabindex="3" title="Empresa">Empresa</a>
                <a th:if="${not #strings.isEmpty(session.empresaLogadaSession)}" th:href="@{/contribuinte/cadastro}" tabindex="3" title="Empresa">Empresa</a>
                <a th:if="${#strings.isEmpty(session.contadorLogadoSession) && #strings.isEmpty(session.empresaLogadaSession)}" tabindex="3" href="http:/localhost:8080/menuempresa/empresa" title="Empresa">Empresa</a>
            </li>
            <li><a href="http:/localhost:8080/menuoque/oque" tabindex="2">O que é?</a></li>
            <li><a href="http:/localhost:8080/" tabindex="1">Página Inicial</a></li>
        </ul>

        <ul class="right clearfix navbar-collapse collapse">
            <li>
            <a href="http:/localhost:8080/menucidadao/cidadao" tabindex="4" >Cidadão</a>
                <!--<a th:href="@{/cidadao/login}" >Cidadão</a>-->
            </li>
            <li><a href="http:/localhost:8080/faq/ajuda" tabindex="5">Ajuda</a></li>
            <li><a href="http:/localhost:8080/contato/orgao" tabindex="6">Fale Conosco</a></li>
        </ul>
    </nav>
</div>
<div class='loading' style='display:none'><div class='circle'></div><div class='circle1'></div></div>
<div layout:fragment="msg" id="messages">
    <div class="centralizado" id="messagesContainer">
        <div th:if="${not #strings.isEmpty(errorMessage)}" class="alert alert-danger" role="alert" th:text="${errorMessage}" ></div>
        <div th:if="${not #strings.isEmpty(mensagemDeErro)}" class="alert alert-danger" role="alert" th:text="${mensagemDeErro}" ></div>
        <div th:if="${not #strings.isEmpty(message)}" class="alert alert-warning" role="alert" th:text="${message}" ></div>
        <div th:if="${not #strings.isEmpty(successMessage)}" class="alert alert-success" role="alert" th:text="${successMessage}" ></div>
    </div>
</div>


<div layout:fragment="content" id="content" >
</div>

<div id="footer-wrapper">
    <div class="copy">
        <p>
            Vereador José Monteiro, nº 2233 - Setor Nova Vila Goiânia - GO - CEP: 74.653-900 Fone: (62) 3269-2000 CNPJ Sefaz: 01409655/0001-80.<br>
            <small>© Copyright 2014. Todos os direitos reservados. Desenvolvido pela Secretaria da Fazenda do Estado de Goiás.</small>
        </p>
    </div>
</div>

<div layout:fragment="templates">
    <div layout:replace="templates/handlebars :: templatesHandlebars"></div>
</div>
<footer layout:fragment="footer">
    <script th:src="@{/js/plugins/bootstrap-filestyle.js}"></script>
    <script th:src="@{/js/globals.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/boilerplate/vendor/modernizr-2.6.2.min.js}"></script>
    <script th:src="@{/js/boilerplate/main.js}"></script>
    <script th:src="@{/js/boilerplate/plugins.js}"></script>
    <script th:src="@{/js/plugins/lodash.min.js}"></script>
    <script th:src="@{/js/plugins/handlebars-v1.3.0.js}"></script>
    <script th:src="@{/js/plugins/moment-with-locales.min.js}"></script>
    <script th:src="@{/js/plugins/jquery.maskedinput.min.js}"></script>
    <script th:src="@{/js/plugins/jquery-ui.js}"></script>
    <script th:src="@{/js/helpers/handlebars.js}"></script>
    <script th:src="@{/js/endereco-site.js}"></script>
    <script th:src="@{/js/nfg-mensagens.js}"></script>
    <script th:src="@{/js/plugins/jquery.maskMoney.min.js}" charset="utf-8"></script>
    <script th:src="@{/js/nfg-modal.js}"></script>
    <script th:src="@{/js/nfg-pagination.js}"></script>
    <script th:src="@{/js/fixHeight.js}"></script>
    <script th:src="@{/js/plugins/jquery.datetimepicker.js}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-57628642-1', 'auto');
        ga('send', 'pageview');

    </script>
    <div layout:fragment="scripts"></div>
</footer>
</body>
</html>