<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:replace="templates/site2 :: site2">
<div layout:fragment="styles">

</div>

<div layout:fragment="content">

</div>
<div layout:fragment="scripts">
    <script th:src="@{/js/detalheEmpresaParticipante.js}" charset="utf-8"></script>
    <script type="text/javascript" th:inline="javascript" charset="utf-8">
        new EmpresaParticipante();
    </script>
</div>
</html>