<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:replace="templates/site2 :: site2">
<div layout:fragment="styles">

</div>

<div layout:fragment="content">

    <div class="panel panel-default">
        <div class="panel-heading">
            <form id="formFiltroEmprParticipante" class="form-horizontal">
                <div class="row">
                    <div class="col-lg-2 no-padding col-md-6 padding-b">
                        <label class="col-md-4 control-label">CNPJ:</label>
                        <div class="col-md-8 no-padding">
                            <input type="text" name="cnpj" class="form-control inputCnpj" placeholder="CNPJ ou CNPJ Base" title="CNPJ ou CNPJ Base">
                        </div>
                    </div>
                    <div class="col-lg-2 no-padding col-md-6 padding-b">
                        <label class="col-md-4 control-label">Empresa:</label>
                        <div class="col-md-8 no-padding">
                            <input type="text" name="nome" class="form-control" placeholder="Nome empresa">
                        </div>
                    </div>
                    <div class="col-lg-2 no-padding col-md-6 padding-b">
                        <label class="col-md-4 control-label">Bairro:</label>
                        <div class="col-md-8 no-padding">
                            <input type="text" name="nomeBairro" class="form-control" placeholder="Nome bairro">
                        </div>
                    </div>
                    <div class="col-lg-2 no-padding col-md-6 padding-b">
                        <label class="col-lg-6 col-md-4 control-label">Município:</label>
                        <div class="col-lg-6 col-md-8 no-padding">
                            <select class="form-control" name="codgMunicipio" >
                                <option value="">Selecione</option>
                                <option th:each="municipio : ${listaMunicipios}" th:value="${municipio.codigoMunicipio}" th:text="${municipio.nome}"></option>
                                <!--<option th:each="municipio : ${listaMunicipios}" th:default="${municipio.codigoMunicipio.equals(codgMunicipio)}" th:selected="${municipio.codigoMunicipio.equals(codgMunicipio)}" th:value="${municipio.codigoMunicipio}" th:text="${municipio.nome}"></option>-->
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 no-padding col-md-6 padding-b">
                        <label class="col-lg-6 col-md-4 control-label">Categoria:</label>
                        <div class="col-lg-6  col-md-8 no-padding">
                            <select class="form-control" name="idSubClasseCnae" >
                                <option value="">Selecione</option>
                                <option th:each="cnaeAutorizado : ${listaCnaesAutorizados}" th:value="${cnaeAutorizado.subClasseCnae.idSubClasseCnae}" th:text="${cnaeAutorizado.subClasseCnae.descSubClasseCnae}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-6 padding-b">
                        <div class="col-md-12 text-right">
                            <div class="input-group-btn">
                                <button class="btn btn-primary" id="filtrar" type="submit">Pesquisar</button>
                                <button class="btn btn-default" type="reset">Limpar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-body">
            <div id="containerEmpresas" class="table-responsive"></div>
        </div>
    </div>
</div>
<div layout:fragment="scripts">
    <script th:src="@{/js/empresaParticipante.js}" charset="utf-8"></script>
    <script type="text/javascript" th:inline="javascript" charset="utf-8">
        new EmpresaParticipante().initListar({
//            codgMunicipio: [[${codgMunicipio}]]
        });
    </script>
</div>
</html>