<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:replace="templates/site2 :: site2">



<div layout:fragment="content" >
    <div class="container">
    <div class="row">

        <div class="conteudoInterno">
            <h6>Cidadão</h6>

            <div class="texto">
                <p>&nbsp;</p>

                <p>Cadastre-se e ganhe 100 pontos extras.</p>
                <p>&nbsp;</p>

                <p>As notas fiscais emitidas com o seu CPF a partir do in&iacute;cio do To Legal<span
                        id="OBJ_PREFIX_DWT3236_com_zimbra_date" class="Object">, nas&nbsp;<span
                        style="text-decoration: underline;"><span style="color: #0000ff;"><a
                        href="#"><span
                        style="color: #0000ff; text-decoration: underline;">empresas credenciadas</span></a></span></span>,</span>&nbsp;ser&atilde;o
                    v&aacute;lidos para pontua&ccedil;&atilde;o no Programa.</p>

                <p>&nbsp;</p>
                <p>Ao se cadastrar voc&ecirc; tamb&eacute;m j&aacute;&nbsp;<strong>ganha 5% de desconto no IPVA de 2017&nbsp;</strong>para
                    os ve&iacute;culos registrados no seu CPF.</p>
                <p>&nbsp;</p>

                <p>A contagem dos pontos e os sorteios ser&atilde;o mensais.</p>
                <p>&nbsp;</p>

                <p>A data dos sorteios e os resultados ser&atilde;o divulgados no site, em "Sorteios".&nbsp;</p>

                <p>&nbsp;</p><p>&nbsp;</p>
                <p><strong><br/></strong></p>
                <p>É fácil participar. Tudo o que você tem que fazer é <strong><a th:href="@{/cidadao/cadastrar}">Cadastrar o seu CPF.</a> </strong>&nbsp;&nbsp;</p>

                <p>&nbsp;</p>

            </div>

        </div>
    </div>
    </div>
</div>


<div layout:fragment="scripts"></div>
</html>
