<!DOCTYPE html>
<head>
<title>Secretaria da Fazenda do Estado de Goi&aacute;s</title>
</head>
<body>
<script type="text/javascript">
    window.location = "/nfg-web/home-contador";
</script>
<input type="hidden" name="nomeUsuario" value="$nomeUsuario">
</body>
</html>