<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:replace="templates/site2 :: site2">

<div layout:fragment="styles">
    <link rel="stylesheet" th:href="@{/css/plugins/jquery.datetimepicker.css}">
</div>

<div layout:fragment="content">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
<!--                 <div class="panel-heading"> -->
<!--                     <div class="row"> -->
<!--                         <div class="col-lg-6"> -->
<!--                             &nbsp; -->
<!--                         </div> -->
<!--                         <div class="col-lg-6"> -->
<!--                             <div class="input-group"> -->
<!--                                 <input type="text" class="form-control input-search-contribuinte-nao-participante" placeholder="Inscri&ccedil;&atilde;o"/> -->
<!--                                 <span class="input-group-btn"> -->
<!--                                     <button class="btn btn-default btn-search-contribuinte-nao-participante" type="button">Buscar</button> -->
<!--                                     <button class="btn btn-danger btn-reset-search-contribuinte-nao-participante" type="button">Limpar</button> -->
<!--                                 </span> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
                <table class="table table-striped table-responsive table-condensed" id="nao-participantes">
                    <thead>
                        <tr>
                            <th>N&uacute;mero de Inscri&ccedil;&atilde;o</th>
                            <th>Empresa</th>
                            <th>CNPJ</th>
                            <th>Data de in&iacute;cio da vig&ecirc;ncia</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="list-paginated">
                    </tbody>
                    <tfoot>
                        <td colspan="5">
                            <ul id="paging" class="pager"></ul>
                        </td>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<div layout:fragment="scripts">
    <script th:src="@{/js/plugins/jquery.datetimepicker.js}"></script>
    <script th:src="@{/js/paginate.js}"></script>
    <script th:src="@{/js/cadastro-contribuintes.js}"></script>
</div>
</html>