<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:replace="templates/layout :: template">
<div layout:fragment="styles">
    <link rel="stylesheet" th:href="@{/css/plugins/jquery.datetimepicker.css}">
</div>

<div layout:fragment="content">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Relatorio de Reclamações</h2>
        </div>

        <div class="row">&nbsp;</div>
        <div class="row"  align="center">
            <div class="col-md-1">
                <a class="btn btn-default" th:href="@{/portal/reclamacao/usuario/index}"  >Voltar</a>
                <!--<a class="btn btn-default" th:href="@{/reclamacao/usuario/index}"  >Voltar</a>-->
            </div>
        </div>
        <div class="row">&nbsp;</div>

        <div class="row">
            <label class="col-md-2">Data de Reclama&ccedil;&atilde;o:</label>
            <div class="col-md-2 ">
                <input  id="dataRecRel" type="text" class="form-control datepicker " name="dataRecRel" placeholder="Ex: 01/01/2014" data-toggle="tooltip" data-placement="top" >
            </div>
            <div class="col-md-1 center">
                até
            </div>
            <div class="col-md-2 ">
                <input  id="dataRecRelFim" type="text" class="form-control datepicker " name="dataRecRel" placeholder="Ex: 01/01/2014" data-toggle="tooltip" data-placement="top" >
            </div>
            <div class="col-md-1 " >
                <a class="btn btn-default" href="#" id="btnLimparReclamacoesRel" >Limpar</a>

            </div>
            <div class="col-md-2 " >
                <a class="btn btn-primary" id="btnGerarRelReclamacao" target="_blank" href="#"   >Gerar</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 " >&nbsp;</div>
            <div class="col-md-8">
                <p style="display: inline-block" >Obs.: Preencher só um campo de data implicará em um filtro que pegará as reclamações "a partir de" ou "até" a mesma.</p>
            </div>
        </div>


        <div class="row">&nbsp;</div>

        <div class="row">
            <label class="col-md-2">Situação:</label>
            <div class="col-md-7">
                <select  class=" form-control no-padding" name="selectSituacao" id="selectSituacao" title="Selecione a situação.">
                    <option th:value="${0}">0 - Todas</option>
                    <option th:each="st : ${situacoes}" th:value="${st.value}" th:text="${st.value+' - '+st.descricao}"></option>
                </select>
            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row" id="problemaEmpresaDivRel" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    Qual &eacute; o motivo da reclama&ccedil;&atilde;o?
                </div>
                <div class="panel-body">
                    <label><input class="radioMotivoReclamacaoRel" checked  name="radioMotivoReclamacaoRel" type="radio" value="0">
                        0 - Todas
                    </label>
                    <br/>
                    <label><input class="radioMotivoReclamacaoRel"  name="radioMotivoReclamacaoRel" type="radio" value="1">
                        1 - Cupom Fiscal/Nota Fiscal/Nota Fiscal de Consumidor Eletr&ocirc;nica com meu CPF n&atilde;o consta no painel Minhas Notas do Portal do Cidad&atilde;o.
                    </label>
                    <br/>
                    <label><input class="radioMotivoReclamacaoRel" name="radioMotivoReclamacaoRel" type="radio" value="2">
                        2 - N&atilde;o perguntou se eu desejava incluir o CPF na nota/cupom fiscal.
                    </label>
                    <br/>
                    <label><input class="radioMotivoReclamacaoRel"  name="radioMotivoReclamacaoRel" type="radio" value="3">
                        3 - Exigiu a elabora&ccedil;&atilde;o de um cadastro para a coloca&ccedil;&atilde;o do CPF.
                    </label>
                    <br/>
                    <label><input class="radioMotivoReclamacaoRel"   name="radioMotivoReclamacaoRel" type="radio" value="4">
                        4 - Alegou problema com equipamento ou sistema.
                    </label>
                    <br/>
                    <label><input class="radioMotivoReclamacaoRel"   name="radioMotivoReclamacaoRel" type="radio" value="5">
                        5 - Dificultou o fornecimento do documento fiscal com CPF.
                    </label>
                    <br/>
                    <label><input class="radioMotivoReclamacaoRel"   name="radioMotivoReclamacaoRel" type="radio" value="6">
                        6 - Alegou n&atilde;o participar do programa NFGoiana.
                    </label>


                </div>
            </div>
        </div>

        <div class="row" id="tipoDocReclamacaoDivRel" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    Selecione o tipo de Documento Fiscal:
                </div>
                <div class="panel-body">
                    <label><input class="radioTipoDocReclamacaoRel" checked  name="radioTipoDocReclamacaoRel" type="radio" value="0">
                        0 - Todas
                    </label>
                    <br/>
                    <label><input class="radioTipoDocReclamacaoRel"  name="radioTipoDocReclamacaoRel" type="radio" value="1"> 1 - Nota Fiscal </label>
                    <br/>
                    <label><input class="radioTipoDocReclamacaoRel"   name="radioTipoDocReclamacaoRel" type="radio" value="2"> 2 - Nota Fiscal Eletr&ocirc;nica</label>
                    <br/>
                    <label><input class="radioTipoDocReclamacaoRel"  name="radioTipoDocReclamacaoRel" type="radio" value="3"> 3 - Cupom Fiscal</label>
                </div>
            </div>
        </div>

        <div class="row" id="prazoDivRel" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    Selecione o prazo:
                </div>
                <div class="panel-body">
                    <label><input class="radioPrazoRel" checked  name="radioPrazoRel" type="radio" value="0">
                        0 - Todas
                    </label>
                    <br/>
                    <label><input class="radioPrazoRel"  name="radioPrazoRel" type="radio" value="1"> 1 - Vencidas </label>
                    <br/>
                    <label><input class="radioPrazoRel"   name="radioPrazoRel" type="radio" value="2"> 2 - Não Vencidas</label>
                </div>
            </div>
        </div>


    </div>

    <div layout:fragment="scripts">
        <script th:src="@{/js/plugins/jquery.blockUI.js}"></script>
        <script th:src="@{/js/plugins/jquery.maskMoney.min.js}" charset="utf-8"></script>
        <script th:src="@{/js/plugins/jquery.datetimepicker.js}"></script>
        <!--<script th:src="@{/js/paginate.js}" charset="utf-8"></script>-->
        <!--<script th:src="@{/js/generic-modal.js}" charset="utf-8"></script>-->
        <!--<script th:src="@{/js/dialogs.js}" charset="utf-8"></script>-->
        <script th:src="@{/js/reclamacao.js}" charset="utf-8"></script>

        <script type="text/javascript" th:inline="javascript" charset="utf-8">
            new Reclamacao({tela:'reclamacaoIndex'});
        </script>
    </div>

</html>