<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:replace="templates/site2SemFrameLogin :: site2SemFrameLogin">

<div layout:fragment="styles">
    <link rel="stylesheet" th:href="@{/css/plugins/jquery.datetimepicker.css}">
</div>

<div layout:fragment="content">

    <div class="panel panel-default centralizado">
        <div class="panel-heading">
            <!--VALIDACAO DO CPF NA BASE NACIONAL-->
            <form id="formValidaDadosCidadao" class="form-horizontal" >
                <input type="hidden" th:if="${isConcluirCadastro}" id="emailPreCadastro" th:value="${emailPreCadastro}" name="emailPreCadastro" >
                <input type="hidden" th:if="${isConcluirCadastro}" id="telefonePreCadastro" th:value="${telefonePreCadastro}" name="telefonePreCadastro" >
                <input type="hidden" th:if="${isConcluirCadastro}" id="nomePreCadastro" th:value="${nomePreCadastro}" name="nomePreCadastro" >

                <div class="row ">
                    <label  class="col-md-1 text-right control-label">CPF:</label>
                    <div class="col-md-2 ">
                        <input type="text" th:if="${isCadastroNormal}" tabindex="7" id="inputValidaCpf" name="cpfPessoa" class="form-control inputCpf" placeholder="CPF" >

                        <input type="text" th:if="${isCertificado}" id="cpfPessoaCertificado" th:value="${certificado.pfCpf}"  readonly="true" class="form-control inputCpf" placeholder="CPF" >

                        <input type="text" th:if="${isConcluirCadastro}" tabindex="7" id="cpfPreCadastro" th:value="${cpfPessoa}" name="cpfPessoa" class="form-control inputCpf" placeholder="CPF" >
                    </div>

                    <div th:if="${isCertificado == null || !isCertificado}">
                        <label class="col-md-2 text-right control-label">Nome da M&atilde;e:</label>
                        <div class="col-md-2 ">
                            <input type="text" tabindex="8" th:if="${isCadastroNormal}" id="inputValidaNomeDaMae" name="nomeMaePessoa" class="form-control " placeholder="Nome da M&atilde;e" >
                            <input type="text" tabindex="8" th:if="${isConcluirCadastro}" id="nomeMaePreCadastro" th:value="${nomeMaePessoa}"  name="nomeMaePessoa" class="form-control " placeholder="Nome da M&atilde;e" >

                        </div>

                        <label class="col-md-2 text-right control-label">Data de Nascimento:</label>
                        <div class="col-md-2 input-group">
                            <input id="inputValidaDataDeNascimento" th:if="${isCadastroNormal}" tabindex="9" type="text" class="form-control datepicker eventoExibirBotoes" name="dNascimentoPessoa" placeholder="Ex: 01/01/2014" data-toggle="tooltip" data-placement="top" >
                            <input id="dtNascPreCadastro" tabindex="9" th:if="${isConcluirCadastro}" th:value="${dataNascPessoa}"  type="text" class="form-control datepicker eventoExibirBotoes" name="dNascimentoPessoa" placeholder="Ex: 01/01/2014" data-toggle="tooltip" data-placement="top" >
                            <span id="spanValidaDataDeNascimento" class="input-group-addon glyphicon glyphicon-calendar datepickerIcon"></span>
                        </div>
                    </div>
                </div>

                <div class="row">&nbsp;</div>

                <div class="row " id="captchaDiv" style="clear:both;display: none" >
                    <center>
                        <label  class="control-label">C&oacute;digo Verificador:</label>
                        <br/>
                        <br/>
                        <div class="col-md-12 "  >
                            <input type="hidden" id="numeroDeTentativas" name="numeroDeTentativas" th:value="${session.numeroDeTentativas}" />
                            <div id="containerCaptcha"  ></div>
                        </div>
                    </center>
                </div>

                <div class="row">&nbsp;</div>

                <div class="row centralizado" >
                    <!-- Cadastro com Certificado -->
                    <button th:if="${isCertificado}" id="btnValidaDadosCidadaoCertificado" style="display: none" class="btn btn-default btn-salvar form-control form-inline has-feedback"  type="button">
                        Cadastrar</button>
                    <!-- Cadastro normal-->
                    <button th:if="${isCadastroNormal}" id="btnValidaDadosCidadao" tabindex="11" class="btn btn-primary btn-salvar   has-feedback btn-submitform"  type="button">
                        Cadastrar</button>
                    <!-- Pré cadadastro-->
                    <button th:if="${isConcluirCadastro}" id="btnValidaDadosCidadaoPreCadastrado" style="display: none" class="btn btn-primary btn-salvar form-control form-inline has-feedback btn-submitform"  type="button">
                        Cadastrar</button>

                    <a class="btn btn-default"  th:href="@{/cidadao/login}">Voltar</a>
                </div>
            </form>
        </div>

        <div class="row">&nbsp;</div>





        <!--CADASTRO -->
        <form id="formCadastroCidadao" name="formCadastroCidadao" class="form-horizontal" >
            <div  id="showDadosDaBase"  class="showDadosDaBase" style="clear:both;display: none">
                <!--<div  id="showDadosDaBase" class="showDadosDaBase">-->
                <input type="hidden" id="cpfCidadao" name="cpfCidadao">
                <input type="hidden" id="nomeMaeCidadao" name="nomeMaeCidadao">
                <input type="hidden" id="dataNascCidadao" name="dataNascCidadao">
                <input type="hidden" id="enderecoHomologado" name="enderecoHomologado">

                <div class="form-group" >

                    <div class="row container-fluid">
                        <div class="col-md-6">
                            <div class="row">
                                <!--teste1-->
                                <div class="col-md-3">&nbsp;</div>
                                <div class="panel panel-default col-md-8" >
                                    <div class="panel-body ">
                                        <div class="row">
                                            <label class="col-md-3 control-label text-right">Nome:</label>
                                            <div class="col-md-9">
                                                <input type="text" tabindex="12" id="nomeCadastroCidadao" name="nomeCadastroCidadao" class="form-control"  disabled="true" >
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-md-3 text-right control-label">E-mail:</label>
                                            <div class="col-md-9">
                                                <input type="text" tabindex="13" id="emailCidadao" name="emailCidadao" class="form-control" title="Insira ou atualize seu e-mail. O campo E-mail n&#225;o é obrigatório, mas cadastros sem e-mail só conseguirão alterar sua senha do sistema em uma das unidades de atendimento do Vapt Vupt.">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-md-3 text-right control-label">Confirme o e-mail:</label>
                                            <div class="col-md-9">
                                                <input type="text" tabindex="14" id="emailCidadaoConfirma" name="emailCidadaoConfirma" class="form-control campoConfirmacao" title="Confirmação do seu e-mail.">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-md-3 text-right control-label">Telefone:</label>
                                            <div class="col-md-9">
                                                <input type="text" tabindex="15" id="telCidadao"  name="telCidadao" class="form-control inputTelefone" title="Insira ou atualize seu telefone.">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <br/>
                                            <div class="col-md-3">&nbsp;</div>
                                            <div class="col-md-4" title="Escolha receber ou n&#225;o os e-mails com atividades, informações e notícias sobre o To Legal.">
                                                <input type="checkbox" tabindex="16" id="checkRecebeEmail" th:value="${'S'}" th:checked="${true}" title="Escolha participar ou n&#225;o dos próximos sorteios."/>
                                                <!--<input type="checkbox" id="checkRecebeEmail" th:value="${'S'}" th:checked="${recebeEmail}"/>-->
                                                Recebe e-mail?
                                            </div>
                                            <div class="col-sm-5"   title="Escolha participar ou n&#225;o dos próximos sorteios.">
                                                <!--<input type="checkbox" id="checkParticipaSorteio" th:value="${'S'}" th:checked="${participaSorteio}"/>-->
                                                <input type="checkbox" tabindex="17" id="checkParticipaSorteio" th:value="${'S'}" th:checked="${true}" />
                                                Participa Sorteio?
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--teste2-->
                                <div class="col-md-3"></div>
                                <div class="panel panel-default col-md-8" >
                                    <div class="panel-body ">
                                        <div id="divNovaSenha">
                                            <div class="row">
                                                <label class="col-md-3 text-right control-label">Senha:</label>
                                                <div class="col-md-7">
                                                    <input type="password" tabindex="26" id="passCidadao" name="passCidadao" class="form-control" maxlength="10" title="Insira uma senha que contenha n&uacute;meros e letras e que tenha 10 d&iacute;gitos.">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <label class="col-md-3 text-right control-label">Confirme:</label>
                                                <div class="col-md-7">
                                                    <input type="password" tabindex="27" id="passCidadaoConfirm" name="passCidadaoConfirm" maxlength="10" class="form-control" title="Confirme sua senha.">
                                                </div>
                                            </div>
                                        </div>

                                        <div id="divSenhaAtual">
                                            <div class="row">
                                                <label class="">Voc&ecirc; possui credencial de acesso a sistemas da SEFAZ-TO. Favor confirme sua senha para acesso ao To Legal.</label>
                                                <br/>
                                                <label class="col-md-3 text-right control-label">Senha atual:</label>
                                                <div class="col-md-7">
                                                    <input type="password" tabindex="28" id="passCidadaoAtual" name="passCidadaoAtual" maxlength="10" class="form-control" title="Insira sua senha cadastrada.">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="row">
                                <!--teste3-->
                                <!--<div class="col-md-1"></div>-->
                                <div class="panel panel-default col-md-10" style="background: #f5f5f5; " id="enderecoPanel">
                                    <div class="panel-body ">
                                        <div  id="inputsEndereco" >
                                            <div id="labelEndHomolog"  style="display: none" align="center">
                                                <label style="color: #8a6d3b;" >Existe registro no Cadastro de Contribuintes do Estado (contribuinte, produtor rural, quadro societ&aacute;rio ou contador) para o CPF em quest&atilde;o, o que n&atilde;o permite essa atualiza&ccedil;&atilde;o pelo site. Para corre&ccedil;&atilde;o, procure uma unidade fazend&aacute;ria.</label>
                                                <br/>
                                                <br/>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-3 text-right control-label">CEP:</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="cepCidadao" tabindex="18" name="cepCidadao" class="form-control inputCep" title="Insira ou atualize seu CEP.">
                                                </div>
                                            </div>

                                            <div class="row">&nbsp;</div>

                                            <div class="row">
                                                <label class="col-md-3 text-right control-label">Logradouro:</label>
                                                <div class="col-md-9">
                                                    <input type="text" tabindex="20" id="logradouroCidadao"  name="logradouroCidadao" class="form-control" title="Insira ou atualize seu Logradouro.">
                                                </div>
                                            </div>
                                            <!--<div class="row">&nbsp;</div>-->
                                            <div class="row">
                                                <label class="col-md-3 text-right control-label">N&uacute;mero:</label>
                                                <div class="col-md-3">
                                                    <input type="text" tabindex="21" id="numeroCidadao"  name="numeroCidadao" class="form-control" title="Insira ou atualize seu N&uacute;mero.">
                                                </div>
                                                <label class="col-md-2 text-right control-label">Bairro:</label>
                                                <div class="col-md-4">
                                                    <input type="text" tabindex="22" id="bairroCidadao"  name="bairroCidadao" class="form-control" title="Insira ou atualize seu Bairro.">
                                                </div>
                                            </div>
                                            <!--<div class="row">&nbsp;</div>-->
                                            <div class="row">
                                                <label class="col-md-3 text-right control-label">Complemento:</label>
                                                <div class="col-md-9">
                                                    <input type="text" tabindex="23" id="complementoCidadao" maxlength="80" size="80" name="complementoCidadao" class="form-control" title="Insira ou atualize seu Complemento.">
                                                </div>
                                            </div>
                                            <div class="row">&nbsp;</div>
                                            <div class="row">
                                                <label class="col-md-3 text-right control-label">UF:</label>
                                                <div class="col-md-2">
                                                    <select class="form-control no-padding combo-endereco" style="width:75px" tabindex="24" name="selectUf" id="selectUf" title="Selecione seu Estado.">

                                                        <option th:each="doc : ${ufs}" th:value="${doc.codgUf}" th:text="${doc.codgUf}"
                                                                class="opcao-tipo-documento"></option>
                                                    </select>
                                                </div>
                                                <label class="col-md-2 text-right control-label">Cidade:</label>
                                                <div class="col-md-5" id="divUfMunicipio">
                                                    <select  class="form-control no-padding combo-endereco" tabindex="25" name="selectMunicipio" id="selectMunicipio" title="Selecione sua Cidade.">
                                                        <option class="opcao-tipo-documento">Selecione</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">&nbsp;</div>
                                            <div class="row">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">&nbsp;</div>

                    <div class="row">
                        <div class="col-md-4">&nbsp;</div>
                        <div class="col-md-4">
                            <button id="cadastrarCidadao" tabindex="28" class="btn btn-primary btn-salvar form-control form-inline has-feedback" type="button" >Concluir</button>
                        </div>
                        <div class="col-md-4">&nbsp;</div>
                    </div>

                    <div class="row">&nbsp;</div>

                </div>

            </div>
        </form>

    </div>
</div>


<div layout:fragment="scripts">
    <script th:src="@{/js/plugins/jquery.datetimepicker.js}"></script>
    <script th:src="@{/js/plugins/recaptcha_ajax.js}"></script>
    <script th:src="@{/js/plugins/jquery.blockUI.js}"></script>
    <script th:src="@{/js/cidadao.js}" charset="utf-8"></script>
    <script type="application/javascript" src="http://jsonip.appspot.com/?callback=getip"></script>
    <!--<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>-->
    <script type="text/javascript" th:inline="javascript" charset="utf-8">
        new Cidadao({
        });
        if ([[${isCertificado}]]) {
            $("#btnValidaDadosCidadaoCertificado").trigger('click');
        } else if ([[${isConcluirCadastro}]]){
            $("#btnValidaDadosCidadaoPreCadastrado").trigger('click');
        }

    </script>
</div>
</html>