<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="stylesheet" th:href="@{/css/boilerplate/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/nfg.css}"/>
    <link rel="stylesheet" th:href="@{/css/site/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/plugins/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/css/plugins/jquery-ui.structure.css}"/>
    <link rel="stylesheet" th:href="@{/css/plugins/jquery-ui.theme.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-theme.css}" />
    <link rel="stylesheet" th:href="@{/css/boilerplate/main.css}" />
    <link rel="stylesheet" th:href="@{/css/site2/css.css}"/>
    <link rel="stylesheet" th:href="@{/css/site2/estilo.css}"/>

    <link rel="stylesheet" th:href="@{/css/site2/fonts.css}"/>
    <div layout:fragment="styles"></div>

    <script th:src="@{/js/boilerplate/vendor/jquery-1.10.2.min.js}"></script>
</head>

<body style="background:transparent">
<form class="bemVindoLogin form-inline" id="formLoginCidadao" data-site="novoSite" name="formLoginCidadao" style="display: block;margin:5px 0 0 0;">
    <div class="form-group" style="display: inline-block;vertical-align: middle;margin-bottom: 0;">
        <label class="sr-only" for="loginCpf"></label>
        <input class="form-control inputCpf" id="loginCpf" name="loginCpf" placeholder="CPF" type="text" style="width: auto;display: inline-block;vertical-align: middle;"/>
    </div>
    <div class="form-group" style="display: inline-block;vertical-align: middle;margin-bottom: 0;">
        <label class="sr-only" for="loginSenha"></label>
        <input class="form-control" id="loginSenha" name="loginSenhaSite" placeholder="Senha" type="password" maxlength="10" style="width: auto;display: inline-block;vertical-align: middle;"/>
    </div>

    <!--<a href="#" id="loginSubmitTeste" ><img src="/nfg-web/images/site2/entrar.png"/></a>-->
    <a href="#" id="loginSubmit" type="submit" class="btn btn-success btn-submitform">Entrar</a>

</form>

<div style="margin-top: 5px;">
    <a href="#" id="linkRecuperarSenhaSite" style="color: #337ab7; text-decoration: none;">Esqueci minha senha</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#" id="linkCadastrar" style="color: #337ab7; text-decoration: none;">Cadastre-se</a>
</div>

<div style="margin-top: 5px; ">
    <a href="#" id="linkCertificado" style="color: #337ab7; text-decoration: none;">Acesso com certificado digital</a>
    <img src="/nfg-web/images/site2/certificadoDigital.png"/>
</div>


<div layout:fragment="scripts">
    <script th:src="@{/js/boilerplate/vendor/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/js/globals.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/boilerplate/vendor/modernizr-2.6.2.min.js}"></script>
    <script th:src="@{/js/boilerplate/main.js}"></script>
    <script th:src="@{/js/boilerplate/plugins.js}"></script>
    <script th:src="@{/js/plugins/lodash.min.js}"></script>
    <script th:src="@{/js/plugins/handlebars-v1.3.0.js}"></script>
    <script th:src="@{/js/plugins/moment-with-locales.min.js}"></script>
    <script th:src="@{/js/plugins/jquery.maskedinput.min.js}"></script>
    <script th:src="@{/js/plugins/jquery-ui.js}"></script>
    <script th:src="@{/js/helpers/handlebars.js}"></script>
    <script th:src="@{/js/endereco-site.js}"></script>
    <script th:src="@{/js/nfg-mensagens.js}"></script>
    <script th:src="@{/js/plugins/jquery.maskMoney.min.js}" charset="utf-8"></script>
    <script th:src="@{/js/nfg-modal.js}"></script>
    <script th:src="@{/js/nfg-pagination.js}"></script>
    <script th:src="@{/js/fixHeight.js}"></script>
    <script th:src="@{/js/plugins/jquery.datetimepicker.js}"></script>
    <script th:src="@{/js/plugins/jquery.datetimepicker.js}"></script>
    <script th:src="@{/js/frameCidadao.js}" charset="utf-8"></script>
    <script th:src="@{/js/plugins/recaptcha_ajax.js}"></script>
    <script type="text/javascript" th:inline="javascript" charset="utf-8">
        new FrameCidadao();
    </script>
</div>
</body>
</html>