<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
    <div class="panel-body dadosMensagens"  style="overflow-x:auto">
        <div id="containerMensagens"></div>
    </div>
</body>

<div layout:fragment="scripts">
    <script th:src="@{/js/plugins/jquery.datetimepicker.js}"></script>
    <script th:src="@{/js/plugins/jquery.blockUI.js}"></script>
    <script th:src="@{/js/frameCidadao.js}" charset="utf-8"></script>
    <script th:src="@{/js/plugins/jquery.maskMoney.min.js}" charset="utf-8"></script>
    <script type="text/javascript" th:inline="javascript" charset="utf-8">
//        new Mensagens();
    </script>
</div>
</html>