/*
    Document   : fonts
    Created on : 16/07/2014, 11:25:00
    Author     : André Dal Molin <andre@admolin.com>
    Description:
        Site custom fonts.
*/
/**
 * ----------------------------------------------------------------------- *
 *     Open Sans Bold.
 * ----------------------------------------------------------------------- *
 */
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../../fonts/site/opensans-bold-webfont.eot');
    src: url('../../fonts/site/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/site/opensans-bold-webfont.woff') format('woff'),
         url('../../fonts/site/opensans-bold-webfont.ttf') format('truetype'),
         url('../../fonts/site/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * ----------------------------------------------------------------------- *
 *     Open Sans Regular
 * ----------------------------------------------------------------------- *
 */
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../../fonts/site/opensans-regular-webfont.eot');
    src: url('../../fonts/site/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/site/opensans-regular-webfont.woff') format('woff'),
         url('../../fonts/site/opensans-regular-webfont.ttf') format('truetype'),
         url('../../fonts/site/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * ----------------------------------------------------------------------- *
 *     Open Sans Light.
 * ----------------------------------------------------------------------- *
 */
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../../fonts/site/opensans-light-webfont.eot');
    src: url('../../fonts/site/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/site/opensans-light-webfont.woff') format('woff'),
         url('../../fonts/site/opensans-light-webfont.ttf') format('truetype'),
         url('../../fonts/site/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * ----------------------------------------------------------------------- *
 *     Myriad Pro Regular.
 * ----------------------------------------------------------------------- *
 */
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../../fonts/site/myriadpro-regular.eot');
    src: url('../../fonts/site/myriadpro-regular.eot') format('embedded-opentype'),
         url('../../fonts/site/myriadpro-regular.woff') format('woff'),
         url('../../fonts/site/myriadpro-regular.ttf') format('truetype'),
         url('../../fonts/site/myriadpro-regular.svg#MyriadProRegular') format('svg');
}