<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
	layout:replace="templates/site2SemFrameLogin :: site2SemFrameLogin">
<!--layout:replace="templates/layout :: template">-->


<div layout:fragment="styles">
	<link rel="stylesheet"
		th:href="@{/css/plugins/jquery.datetimepicker.css}">
</div>

<div layout:fragment="content">
	<div class="container-fluid">
		<div class="row">
			<div class="text-left col-lg-12">
				<a th:href="${urlRetorno}">Voltar para a tela anterior</a> <br /> <label
					class="control-label"
					th:text="'Inscri&ccedil;&atilde;o Estadual:  '+${inscricaoEstadual}"></label>
			</div>
		</div>

		<div class="row">&nbsp;</div>

		<form id="documentoFiscal" name="documentoFiscal"
			class="form-horizontal" method="post">
			<div class="panel panel-default " title="This is my tooltip">
				<div class="panel-heading">
					<label style="font-size: medium;">Campos-chave para inserir
						ou alterar Documento</label>

				</div>

				<div class="panel-body ">
					<div class="col-lg-12">
						<div class="row eventoExibirBotoes">

							<div id="tipoDocumentoFiscal" class="col-sm-3">
								<label class="control-label" for="selectTipoDocumentoFiscal">Tipo
									de Documento</label>
								<div class="no-padding">
									<select class="form-control no-padding combo-tipo-documento"
										name="tipoDocumentoFiscal" id="selectTipoDocumentoFiscal">
										<option th:each="doc : ${tipoDocumento}"
											th:value="${doc.value}" th:text="${doc.key}"
											class="opcao-tipo-documento"></option>
									</select>
								</div>
							</div>
							<div class=" col-sm-2">
								<label id="numeroDocumentoFiscalLabel" class="control-label"
									for="numeroDocumentoFiscal">N&uacute;mero do Doc.</label>
								<div class=" no-padding">
									<input id="numeroDocumentoFiscal" type="text"
										name="numeroDocumentoFiscal" maxlength="9"
										placeholder="Nr. do Documento"
										class="form-control eventoExibirBotoes numericInput " required>
								</div>
							</div>


							<div id="subSerieNotaFiscal " class="serieESubserie col-sm-2">
								<label id="subSerieNotaFiscalLabel" class="control-label"
									for="subSerieNotaFiscalInput">Subs&eacute;rie</label>
								<div class=" no-padding">
									<input type="text" id="subSerieNotaFiscalInput"
										name="subSerieNotaFiscal" maxlength="2"
										placeholder="Subs&eacute;rie" class="form-control " required>
								</div>
							</div>
							<div id="serieNotaFiscal" class="serieESubserie col-sm-2">
								<label class="control-label" for="selectSerieNotaFiscal">S&eacute;rie</label>
								<div class=" no-padding">
									<select class="form-control" name="serieNotaFiscal"
										id="selectSerieNotaFiscal">
										<option th:each="s : ${serie}" th:value="${s.value}"
											th:text="${s.key}"></option>
									</select>
								</div>
							</div>
							<div class="col-sm-3">
								<label id="dataEmissaoLabel" class="control-label"
									for="dataEmissao">Data de emiss&atilde;o</label>
								<div class="input-group ">
									<input id="dataEmissao" type="text"
										class="form-control datepicker " name="dataEmissao"
										placeholder="Ex: 01/01/2014" data-toggle="tooltip"
										data-placement="top" required> <span
										class="input-group-addon glyphicon glyphicon-calendar datepickerIcon"></span>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-12">
				<div class="panel panel-default col-lg-12">
					<div class=" row ">
						<div class="col-sm-3">
							<label id="cpfLabel" class="control-label" for="cpf">CPF
								Destinat&aacute;rio</label>
							<div class="no-padding">
								<input type="text" id="cpf" name="cpf"
									class="form-control mascaraCpf"
									placeholder="Ex: 999.999.999-99" required>
							</div>
						</div>
						<div class="col-sm-2">
							<label id="valorTotalLabel" class="control-label"
								for="valorTotal">Valor</label>
							<div class="no-padding">
								<input type="text" id="valorTotal" name="valorTotal"
									class="mascaraValor form-control" placeholder="R$ 9999999,99"
									data-thousands="." data-decimal="," data-prefix="R$ "
									maxlength="14" required>
							</div>
						</div>
						<div class="col-sm-2">
							<br />
							<button
								class="btn btn-default btn-salvar form-control form-inline has-feedback"
								id="btnAlterarNf" type="button"
								style="background: #67b168; color: white; display: none">Alterar</button>
							<button
								class="btn btn-default btn-salvar form-control form-inline has-feedback"
								id="btnInserirNf" type="button"
								style="background: #357ebd; color: white">Inserir</button>
						</div>
						<div class="col-sm-2">
							<br />
							<button
								class="btn btn-danger btn-excluir form-control form-inline has-feedback"
								type="button">Excluir</button>
						</div>
						<div class="col-sm-2">
							<br /> <a
								class="btn form-control form-inline has-feedback limparCampos"
								style="background: #e8e8e8" href="#">Limpar</a>
						</div>
					</div>
					<br />
				</div>
			</div>
		</form>

	</div>



	<div class="clearfix">&nbsp;</div>

	<div class="panel panel-default" style="background: #E7EAEF">
		<div class="panel-heading" style="background: #E7EAEF">

			<div class="row ">
				<form id="formFiltroNota" class="form-horizontal ">
					<input type="hidden" name="ieFiltro"
						th:value="${inscricaoEstadual}">

					<div class="col-sm-2 ">
						<label style="font-size: medium;">Buscar Documento</label>
					</div>
					<div class="col-sm-3 ">
						<label class="control-label">CPF:</label>
						<div class="no-padding">
							<input type="text" name="cpfFiltro"
								class="form-control mascaraCpf" placeholder="CPF">
						</div>
					</div>
					<div class="col-sm-2 ">
						<label class=" control-label">N&uacute;mero:</label>
						<div class="  no-padding">
							<input type="text" name="nrDocFiltro"
								class="form-control numericInput" placeholder="Nr. Doc ou COO">

						</div>
					</div>
					<div class="col-sm-3 ">
						<label class="  control-label">D.Emiss&atilde;o:</label>
						<div class="  no-padding">
							<div class="input-group">
								<input id="dataEmissaoFiltro" type="text"
									class="form-control datepicker " name="dataEmissaoFiltro"
									placeholder="Ex: 01/01/2014" data-toggle="tooltip"
									data-placement="top"> <span
									class="input-group-addon glyphicon glyphicon-calendar datepickerIcon"></span>
							</div>

						</div>
					</div>

					<div class="col-sm-2 ">
						<br />
						<div class="input-group-btn">
							<button class="btn btn-default" id="filtrarBuscaNota"
								type="submit">Filtrar</button>
							<a class="btn btn-default btn-danger limparFiltro" href="#">Limpar</a>
						</div>
					</div>
				</form>
			</div>


		</div>
		<div class="panel-body">
			<div id="containerUltimasNotasInseridas"></div>
		</div>
	</div>
</div>

<div layout:fragment="scripts">
	<script th:src="@{/js/plugins/jquery.datetimepicker.js}"
		charset="utf-8"></script>
	<script th:src="@{/js/plugins/jquery.maskMoney.min.js}" charset="utf-8"></script>
	<script th:src="@{/js/plugins/numericInput.min.js}" charset="utf-8"></script>
	<script th:src="@{/js/nota.js}" charset="utf-8"></script>
	<script th:src="@{/js/generic-modal.js}" charset="utf-8"></script>
	<script th:src="@{/js/dialogs.js}" charset="utf-8"></script>
	<script type="text/javascript" th:inline="javascript" charset="utf-8">
        new Nota({
            urlBase: [[${urlBase}]],
            inscricaoEstadual: [[${inscricaoEstadual}]]
        });
    </script>
</div>

</html>