<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:replace="templates/site2 :: site2">

<div layout:fragment="msg"></div>

<div layout:fragment="content">
    <div class="centralizado">
        <h1>Internal Server Error (500)<br />
            <small>Parece que alguma coisa deu errado!</small>
        </h1>
        <h1>¯\_(&#12484;)_/¯</h1>
        <!--<img th:src="@{/images/homer-doh.png}" height="250px">-->
        <br />
        <h4>Mas não se preocupe, já estamos verificando... <br />
            <small>se o problema persistir entre em contato: 0800 942 9011.</small>
            <input type="hidden" th:value="${message}">
        </h4>
        <br />
        <small th:text="${time}"></small>
    </div>
</div>
</html>