<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:fragment="template">
<head layout:fragment="head">
    <meta charset="UTF-8" />
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}" />
    <script th:src="@{/js/boilerplate/vendor/jquery-1.10.2.min.js}"></script>
    <div layout:fragment="styles"></div>

</head>
<body>
<script type="text/javascript" th:inline="javascript" charset="utf-8">
    if (window.parent != window) {
        window.parent.location = window.location;
    }
</script>
<div class="bs-component" th:if="${usuario}">
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/admin/}">Admin<div class="ripple-wrapper"></div></a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">SORTEIO <b class="caret"></b><div class="ripple-wrapper"></div></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/admin/geracaoDePontuacao}">Gerar Pontuaç&#225;o</a></li>
                        <li><a th:href="@{/admin/geracaoDeBilhetes}">Gerar Bilhetes</a></li>
                        <li><a th:href="@{/admin/cadastro/sorteio}">Cadastrar Sorteio</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/admin/processamento}" th:if="${isAdmin}">PROCESSAMENTO</a></li>
                <li><a th:href="@{/admin/parametros}" th:if="${isAdmin}">PARÂMETROS</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><span th:text="${usuario}"></span> &nbsp;( &#865;&#176;&#9581;&#860;&#662;&#9582;&#865;&#176; )&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/admin/logout}">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div layout:fragment="msg" id="messages">
    <div class="text-center" id="messagesContainer">
        <div th:if="${not #strings.isEmpty(errorMessage)}" class="alert alert-danger" role="alert" th:text="${errorMessage}" ></div>
        <div th:if="${not #strings.isEmpty(message)}" class="alert alert-warning" role="alert" th:text="${message}" ></div>
        <div th:if="${not #strings.isEmpty(successMessage)}" class="alert alert-success" role="alert" th:text="${successMessage}" ></div>
    </div>
</div>

<div layout:fragment="content"></div>

<div layout:fragment="templates">
    <div layout:replace="templates/handlebars :: templatesHandlebars"></div>
</div>

<footer layout:fragment="footer">
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/boilerplate/vendor/modernizr-2.6.2.min.js}"></script>
    <script th:src="@{/js/boilerplate/main.js}"></script>
    <script th:src="@{/js/boilerplate/plugins.js}"></script>
    <script th:src="@{/js/plugins/lodash.min.js}"></script>
    <script th:src="@{/js/material/ripples.min.js}"></script>
    <script th:src="@{/js/material/material.min.js}"></script>
    <script th:src="@{/js/plugins/moment-with-locales.min.js}"></script>
    <script th:src="@{/js/plugins/handlebars-v1.3.0.js}"></script>
    <script th:src="@{/js/plugins/jquery.maskedinput.min.js}"></script>
    <script th:src="@{/js/plugins/numeral.min.js}"></script>
    <script th:src="@{/js/plugins/languages.min.js}"></script>
    <script th:src="@{/js/plugins/snackbar.min.js}"></script>
    <script th:src="@{/js/nfg-mensagens.js}"></script>
    <script th:src="@{/js/nfg-pagination.js}"></script>
    <script th:src="@{/js/globals.js}"></script>
    <script th:src="@{/js/fixHeight.js}"></script>
    <div layout:fragment="scripts"></div>
</footer>
</body>
</html>
